@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
}

.btn-danger{
    width: 7rem;
    margin: 0.5rem;
}

.btn-primary{
    width: 7rem;
    margin: 0.5rem;
}

